<%- include("../partials/header") %>
<%- include("../partials/menu2") %>

<form action="" method="POST" >
    <div class="container ">
     <div>
         <h3>Crear tu grupo</h3>
     </div>   
    <div class="p-3">
        <label for="grupo" class="form-label">Nombre del grupo</label>
        <input type="text" class="form-control" id="grupo" name="nombre">
      </div>
      <div class="d-flex justify-content-center ">
    <button type="submit" class="btn btn-primary px-5 py-2">Aceptar</button>
    </div>
</div>
</form>