<%- include("./partials/header") %>

<div class='container'>
    <div id="noticias">
        <h2>Noticias</h2>
        <%- include("./partials/msgs") %>
    </div>
    <button id='btn-suscribirse' class="btn btn-primary">
        Suscribirse
    </button>
    <button id='btn-desuscribirse' class="btn btn-danger">
        Desuscribirse
    </button>
    <button id='btn-topic-1' class="btn btn-primary" value="Topic-1">
        Topic-1
    </button>
    <button id='btn-topic-2' class="btn btn-danger" value="Topic-2">
        Topic-2
    </button>
</div>

<%- include("./partials/footer") %>
