<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid ">
      <div class="collapse navbar-collapse justify-content-end"  id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a type="button" class="btn btn-primary p-1"  href="/logout">
              Cerrar sesión
            </a>
          </li>
            
        </ul>
      </div>
    </div>
  </nav>